<nav>
  <div class="site-title">
    <a href="/"><h1>Reinsdyr Register</h1></a>
    <p>Max Hjorth-Milne</p>
  </div>
  <ul>
    <li><a href="/">Søk</a></li>
    <li><a href="/about">om</a></li>
    <li><a href="/kart">kart</a></li>
  </ul>
</nav>