<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about">
    <h2>About</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quo commodi exercitationem molestias fugit aspernatur aliquam veritatis eveniet temporibus nihil? Reprehenderit laudantium eius sunt tempore corporis tenetur impedit error repellat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi libero rem perferendis illo, exercitationem laborum voluptatem reprehenderit quae vel temporibus quo voluptatibus voluptates ipsa molestiae eligendi quidem vitae aliquid molestias. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam perferendis, qui corporis incidunt vel ipsum repudiandae quam! Sequi maxime temporibus eos inventore repellat vel autem veniam qui! Quo, nemo dolore.</p>
    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>